# Doxygen configuration file.

PROJECT_NAME         = "Phase2 importing utility"
INPUT                = src
OUTPUT_DIRECTORY     = target
QUIET                = YES
CASE_SENSE_NAMES     = NO

# p2-import.c is compiled from doxygen's generated XML.
GENERATE_XML         = YES

# Just the XML, thanks.
GENERATE_HTML        = NO
GENERATE_LATEX       = NO
GENERATE_MAN         = NO
GENERATE_RTF         = NO

# Only look in C header files.
FILE_PATTERNS        = "*.h"

# Sub-directories are hidden from the importer.
RECURSIVE            = NO

# Interpret Qt-style comments.
JAVADOC_AUTOBRIEF    = NO

# Comments are not always necessary.
WARN_IF_DOC_ERROR    = NO
WARN_IF_UNDOCUMENTED = NO

