[Desktop Entry]
Comment = Did it work?
Exec = phase2
File = ../apps/Games/phase2
Icon = phase2.png
Type = Application
Name = Phase2
Name[de] = Phase2
